
<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>Wasaga Beach</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.html">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/fav.png">
    
    <!-- Bootstrap v4.4.1 css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/font-awesome.min.css">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/animate.css">
    <!-- aos css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/aos.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/owl.carousel.css">
    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/slick.css">
    <!-- off canvas css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/off-canvas.css">
    <!-- linea-font css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/fonts/linea-fonts.css">
    <!-- flaticon css  -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/fonts/flaticon.css">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/magnific-popup.css">
    <!-- Main Menu css -->
    <link rel="stylesheet" href="~/Content/assets/css/rsmenu-main.css">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/inc/custom-slider/css/nivo-slider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/inc/custom-slider/css/preview.css">
    <!-- rsmenu transitions css -->
    <link rel="stylesheet" href="~/Content/assets/css/rsmenu-transitions.css">
    <!-- spacing css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/rs-spacing.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/Content/style.css"> <!-- This stylesheet dynamically changed from style.less -->
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/responsive.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            left: 40px;
            background-color: #25d366;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 2px 2px 3px #999;
            z-index: 100;
        }

        .my-float {
            margin-top: 16px;
        }
    </style>
</head>
<body class="home-three">

    <!-- Preloader area start here -->
    <div id="loader" class="loader">
        <div class="spinner"></div>
    </div>
    <!--End preloader here -->
    <!-- start scrollUp  -->
    @*<a href="https://wa.me/6475307653" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>*@
    <a href="https://api.whatsapp.com/send?phone=16479093069&text=Hi.." class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
                                        </a>
                                    </div>
                                    <nav class="rs-menu pr-65">
                                        <ul id="onepage-menu" class="nav-menu">
                                            <li class="active-menu"><a href="#rs-header">Home</a></li>
                                            <li><a href="#rs-about">About</a></li>
                                            <li><a href="#rs-services">Services</a></li>
                                            <li><a href="#rs-casestudies">Portfolio</a></li>
                                            <li><a href="#rs-team">Team</a></li>
                                            <li><a href="#rs-blog">Blog</a></li>
                                            <li><a href="#rs-contact">Contact</a></li>
                                        </ul> <!-- //.nav-menu -->
                                    </nav>
                                </div> <!-- //.main-menu -->
                                <div class="expand-btn-inner">
                                    <ul>
                                        <li class="search-parent">
                                            <a class="hidden-xs rs-search" data-target=".search-modal" data-toggle="modal" href="#">
                                                <i class="flaticon-search"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="nav-expander" class="humburger nav-expander" href="#">
                                                <span class="dot1"></span>
                                                <span class="dot2"></span>
                                                <span class="dot3"></span>
                                                <span class="dot4"></span>
                                                <span class="dot5"></span>
                                                <span class="dot6"></span>
                                                <span class="dot7"></span>
                                                <span class="dot8"></span>
                                                <span class="dot9"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu End -->
            <!-- Canvas Menu start -->
            <nav class="right_menu_togle hidden-md">
                <div class="close-btn">
                    <span id="nav-close" class="humburger">
                        <span class="dot1"></span>
                        <span class="dot2"></span>
                        <span class="dot3"></span>
                        <span class="dot4"></span>
                        <span class="dot5"></span>
                        <span class="dot6"></span>
                        <span class="dot7"></span>
                        <span class="dot8"></span>
                        <span class="dot9"></span>
                    </span>
                </div>
                <div class="canvas-logo">
                    <a href="index.html"><img src="~/Content/assets/images/logo-dark.png" alt="logo"></a>
                </div>
                <div class="offcanvas-text">
                    <p>Consectetur adipiscing elit. Duis at dictum risus, non suscip it arcu. Quisque aliquam posuere tortor aliquam posuere tortor develop database.</p>
                </div>
                <div class="canvas-contact">
                    <ul class="contact">
                        <li><i class="flaticon-location"></i> 374 William S Canning Blvd, Fall River MA 2721, USA</li>
                        <li><i class="flaticon-call"></i><a href="tel:+880155-69569">(+880)155-69569</a></li>
                        <li><i class="flaticon-email"></i><a href="mailto:support@rstheme.com">support@rstheme.com</a></li>
                        <li><i class="flaticon-clock"></i>10:00 - 17:00</li>
                    </ul>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </nav>
            <!-- Canvas Menu end -->
        </header>
        <!--Header End-->
    </div>
    <!--Full width header End-->
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Slider Start -->
        <div id="rs-slider" class="rs-slider slider3">
            <div class="bend niceties">
                <div id="nivoSlider" class="slides">
                    <img src="~/Content/assets/images/slider/h3-sl1.jpg" alt="" title="#slide-1" />
                    <img src="~/Content/assets/images/slider/h3-sl2.jpg" alt="" title="#slide-2" />
                </div>
                <!-- Slide 1 -->
                <div id="slide-1" class="slider-direction">
                    <div class="container">
                        <div class="content-part text-center">
                            <div class="slider-des">
                                <div class="sl-subtitle">Discover your business</div>
                                <h1 class="sl-title white-color">We Promote Your <br> Business</h1>
                            </div>
                            <div class="slider-bottom">
                                <ul>
                                    <li><a href="#" class="readon">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide 2 -->
                <div id="slide-2" class="slider-direction">
                    <div class="container">
                        <div class="content-part text-center">
                            <div class="slider-des">
                                <div class="sl-subtitle">Need more strategy</div>
                                <h1 class="sl-title white-color">We Help To Guide <br> Your Business</h1>
                            </div>
                            <div class="slider-bottom">
                                <ul>
                                    <li><a href="#" class="readon">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider End -->
        <!-- Services Section Start -->
        <div id="rs-services" class="rs-services style3 pt-100 pb-100 md-pt-72 md-pb-80">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-5 pr-70 md-mb-50">
                        <div class="sec-title">
                            <div class="sub-title right-line primary">Services</div>
                            <h2 class="title">What's Services We Are Offering to Our Customers</h2>
                            <p class="desc mb-36">Reobiz hinc sapientem eam, has novum putent anatai sit definiebas concludaturque, cum ad sanctus intro ocurreret. Wisi eruditi democritum est an, porro linked noluisse ut pri, ne tantas essent .</p>
                            <a class="readon" href="#">View All Services</a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6 mb-30">
                                <div class="service-wrap mb-30">
                                    <div class="icon-part">
                                        <img src="~/Content/assets/images/services/icons/modify/1.png" alt="">
                                    </div>
                                    <h5 class="title"><a href="#">Business Analysis</a></h5>
                                    <div class="desc">We always provide people a complete solution focused of any business.</div>
                                </div>
                                <div class="service-wrap">
                                    <div class="icon-part">
                                        <img src="~/Content/assets/images/services/icons/modify/7.png" alt="">
                                    </div>
                                    <h5 class="title"><a href="#">Cloud Computing</a></h5>
                                    <div class="desc">We always provide people a complete solution focused of any business.</div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-50 sm-mt-0">
                                <div class="service-wrap mb-30">
                                    <div class="icon-part">
                                        <img src="~/Content/assets/images/services/icons/modify/2.png" alt="">
                                    </div>
                                    <h5 class="title"><a href="#">Reports Analysis</a></h5>
                                    <div class="desc">We always provide people a complete solution focused of any business.</div>
                                </div>
                                <div class="service-wrap">
                                    <div class="icon-part">
                                        <img src="~/Content/assets/images/services/icons/modify/8.png" alt="">
                                    </div>
                                    <h5 class="title"><a href="#">Cryptocurrency</a></h5>
                                    <div class="desc">We always provide people a complete solution focused of any business.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Section End -->
        <!-- Portfolio Section Start -->
        <div id="rs-casestudies" class="rs-casestudies style1 pb-92 md-pb-80">
            <div class="rs-carousel owl-carousel dot-style1" data-loop="true" data-items="4" data-margin="22" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-lg-device="4" data-md-device-nav="false" data-md-device-dots="true">
                <div class="portfolio-item">
                    <div class="img-part">
                        <img src="~/Content/assets/images/casestudies/1.jpg" alt="">
                    </div>
                    <div class="content-part">
                        <a class="categories" href="#">Marketing</a>
                        <h4 class="title"><a href="#">Stock Investments</a></h4>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="img-part">
                        <img src="~/Content/assets/images/casestudies/2.jpg" alt="">
                    </div>
                    <div class="content-part">
                        <a class="categories" href="#">Business</a>
                        <h4 class="title"><a href="#">Big Data Services</a></h4>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="img-part">
                        <img src="~/Content/assets/images/casestudies/3.jpg" alt="">
                    </div>
                    <div class="content-part">
                        <a class="categories" href="#">Consulting</a>
                        <h4 class="title"><a href="#">HR Recruiting</a></h4>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="img-part">
                        <img src="~/Content/assets/images/casestudies/4.jpg" alt="">
                    </div>
                    <div class="content-part">
                        <a class="categories" href="#">Strategy</a>
                        <h4 class="title"><a href="#">Security Services</a></h4>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="img-part">
                        <img src="~/Content/assets/images/casestudies/5.jpg" alt="">
                    </div>
                    <div class="content-part">
                        <a class="categories" href="#">Finance</a>
                        <h4 class="title"><a href="#">Sales Enablement</a></h4>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="img-part">
                        <img src="~/Content/assets/images/casestudies/6.jpg" alt="">
                    </div>
                    <div class="content-part">
                        <a class="categories" href="#">Business</a>
                        <h4 class="title"><a href="#">Advertising Technology</a></h4>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="img-part">
                        <img src="~/Content/assets/images/casestudies/7.jpg" alt="">
                    </div>
                    <div class="content-part">
                        <a class="categories" href="#">Consulting</a>
                        <h4 class="title"><a href="#">Support Technology</a></h4>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="img-part">
                        <img src="~/Content/assets/images/casestudies/8.jpg" alt="">
                    </div>
                    <div class="content-part">
                        <a class="categories" href="#">Marketing</a>
                        <h4 class="title"><a href="#">Stock Market Analysis</a></h4>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="img-part">
                        <img src="~/Content/assets/images/casestudies/3.jpg" alt="">
                    </div>
                    <div class="content-part">
                        <a class="categories" href="#">Marketing</a>
                        <h4 class="title"><a href="#">Sales Analysis</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Section End -->
        <!-- About Section Start -->
        <div id="rs-about" class="rs-about style1 gray-bg pt-100 pb-100 md-pt-80 md-pb-80">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-6 md-mb-50">
                        <img src="~/Content/assets/images/about/about3.png" alt="">
                    </div>
                    <div class="col-lg-6 pl-40 pr-60">
                        <div class="sec-title">
                            <div class="sub-title primary right-line">About Us</div>
                            <h2 class="title mb-33">Welcome to World Best Business Company</h2>
                            <p class="fw-700">Creation timelines for the standard lorem ipsum passage vary, with some citing the 15th century and others the 20th.</p>
                            <p class="desc mb-36">Id hinc sapientem eam, has novum putent an. Ei sit definiebas concludaturque, cum ad sanctus ocurreret. Wisi eruditi democritum est an, porro noluisse ut pri, ne tantas essent corpora vel. Ponderum recusabo vim te. Elitr verear praesent has ne.</p>
                            <a class="readon" href="#">Discover more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->
        <!-- Team Section Start -->
        <div id="rs-team" class="rs-team slider1 pt-92 pb-92 md-pt-72 md-pb-50">
            <div class="container">
                <div class="sec-title text-center mb-40 md-mb-22">
                    <div class="sub-title primary">Expert People</div>
                    <h2 class="title mb-14">Our Team Members</h2>
                </div>
                <div class="rs-carousel owl-carousel dot-style1" data-loop="true" data-items="4" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-lg-device="4" data-md-device-nav="false" data-md-device-dots="true">
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/1.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Mike Jason</a></h4>
                            <span class="designation">Business Advisor</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/2.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Francis Ibikunle</a></h4>
                            <span class="designation">Senior Consultant</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/3.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Ara Gates</a></h4>
                            <span class="designation">Finance Consultant</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/4.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Claire Divas</a></h4>
                            <span class="designation">Business Advisor</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/5.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Isabella Croline</a></h4>
                            <span class="designation">IT Consultant</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/6.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">John Masud</a></h4>
                            <span class="designation">Senior Consultant</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/7.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Corey Anderson</a></h4>
                            <span class="designation">Assistant Director</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/8.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">John Freight</a></h4>
                            <span class="designation">Business Manager</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/9.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">John Maliha</a></h4>
                            <span class="designation">Business Advisor</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/1.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Mike Jason</a></h4>
                            <span class="designation">Business Advisor</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/2.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Francis Ibikunle</a></h4>
                            <span class="designation">Senior Consultant</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/3.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Ara Gates</a></h4>
                            <span class="designation">Finance Consultant</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/4.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Claire Divas</a></h4>
                            <span class="designation">Business Advisor</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/5.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Isabella Croline</a></h4>
                            <span class="designation">IT Consultant</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/6.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">John Masud</a></h4>
                            <span class="designation">Senior Consultant</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/7.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">Corey Anderson</a></h4>
                            <span class="designation">Assistant Director</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-wrap">
                        <div class="team-image">
                            <img src="~/Content/assets/images/team/8.jpg" alt="Team Image">
                        </div>
                        <div class="text-bottom">
                            <h4 class="person-name"><a href="#">John Freight</a></h4>
                            <span class="designation">Business Manager</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Section End -->
        <!-- Why Choose Us Section Start -->
        <div class="rs-whychooseus style1 bg8 pt-100 pb-100 md-pt-72 md-pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 pr-50 md-mb-50 md-pr-15">
                        <div class="sec-title mb-40">
                            <div class="sub-title primary right-line">Choose Us</div>
                            <h2 class="title mb-0">Why Choose Us</h2>
                        </div>
                        <div class="row gutter-16">
                            <div class="col-md-6 mb-16 sm-mb-30">
                                <div class="item-wrap">
                                    <div class="icon-part">
                                        <a href="#"><img src="~/Content/assets/images/whychooseus/1.png" alt=""></a>
                                    </div>
                                    <h5 class="title"><a href="#">Solution Focused</a></h5>
                                </div>
                            </div>
                            <div class="col-md-6 mb-16 sm-mb-30">
                                <div class="item-wrap">
                                    <div class="icon-part">
                                        <a href="#"><img src="~/Content/assets/images/whychooseus/2.png" alt=""></a>
                                    </div>
                                    <h5 class="title"><a href="#">Customer Oriented</a></h5>
                                </div>
                            </div>
                            <div class="col-md-6 sm-mb-30">
                                <div class="item-wrap">
                                    <div class="icon-part">
                                        <a href="#"><img src="~/Content/assets/images/whychooseus/3.png" alt=""></a>
                                    </div>
                                    <h5 class="title"><a href="#">99.99% Success</a></h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item-wrap">
                                    <div class="icon-part">
                                        <a href="#"><img src="~/Content/assets/images/whychooseus/4.png" alt=""></a>
                                    </div>
                                    <h5 class="title"><a href="#">Decision Maker</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="video-wrap md-pt-200 md-pb-200">
                            <div class="video-btn primary text-center">
                                <a class="popup-videos" href="https://www.youtube.com/watch?v=YLN1Argi7ik">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Why Choose Us Section End -->
        <!-- Project Section Start -->
        <div id="rs-project" class="rs-project gray-bg pt-100 pb-100 md-pt-80 md-pb-80">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-6 pr-0 md-mb-30">
                        <div class="left-image">
                            <img class="bdru-40" src="~/Content/assets/images/project/img.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 pl-70 md-pl-15">
                        <div class="sec-title mb-35">
                            <div class="sub-title primary">Projects</div>
                            <h2 class="title mb-27">Recent Portfolios</h2>
                            <div class="desc">Reobiz hinc sapientem eam, has novum putent anatai sit definiebas concludaturque, cum ad sanctus intro ocurreret. Wisi eruditi democritum est an, porro linked noluisse tantas essent .</div>
                        </div>
                        <div class="cl-skill-bar">
                            <!-- Start Skill Bar -->
                            <span class="skillbar-title">Business</span>
                            <div class="skillbar" data-percent="80">
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                            <!-- Start Skill Bar -->
                            <span class="skillbar-title">Consulting</span>
                            <div class="skillbar" data-percent="70">
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                            <div class="btn-part mt-60">
                                <a class="readon" href="#">View Projects</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Section End -->
        <!-- Background wrap Start -->
        <div class="bg9">
            <!-- Testimonial Section Start -->
            <div class="rs-testimonial style3 pt-100 md-pt-72">
                <div class="container">
                    <div class="row y-middle">
                        <div class="col-lg-6 pr-70 md-pr-15">
                            <div class="sec-title">
                                <div class="sub-title primary">Reviews</div>
                                <h2 class="title">Clients Testimonials</h2>
                            </div>
                            <div class="content-wrap">
                                <p class="desc">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nano data technology immersion along the information highway. Love the support of Reobiz peoples.</p>
                                <div class="testi-meta mt-60">
                                    <div class="img-part">
                                        <img src="~/Content/assets/images/testimonial/avatar/5.jpg" alt="">
                                    </div>
                                    <div class="detail-part">
                                        <h5 class="name">John Richardson</h5>
                                        <div class="designation">CEO, XYZ Inc.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-md">
                            <div class="right-img">
                                <img class="bdru-40" src="~/Content/assets/images/testimonial/right-img.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial Section End -->
            <!-- Partner Section Start -->
            <div class="rs-partner pt-80 pb-98 md-pt-0 md-pb-78">
                <div class="container">
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="4" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="3" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="4" data-md-device-nav="false" data-md-device-dots="false">
                        <div class="partner-item">
                            <a href="#"><img src="~/Content/assets/images/partner/1.png" alt=""></a>
                        </div>
                        <div class="partner-item">
                            <a href="#"><img src="~/Content/assets/images/partner/2.png" alt=""></a>
                        </div>
                        <div class="partner-item">
                            <a href="#"><img src="~/Content/assets/images/partner/3.png" alt=""></a>
                        </div>
                        <div class="partner-item">
                            <a href="#"><img src="~/Content/assets/images/partner/4.png" alt=""></a>
                        </div>
                        <div class="partner-item">
                            <a href="#"><img src="~/Content/assets/images/partner/5.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Partner Section End -->
        </div>
        <!-- Background wrap End -->
        <!-- Blog Section Start -->
        <div id="rs-blog" class="rs-blog style1 modify2 pt-98 pb-72 md-pt-72 md-pb-52">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-4 pr-45 mt--33 md-mt-0 md-mb-50">
                        <div class="sec-title">
                            <span class="sub-title primary right-line">News</span>
                            <h2 class="title mb-13">Latest Updates & News Over World</h2>
                            <p class="desc mb-36">Reobiz hinc sapientem eam, has novum putent anatai sit definiebas concludaturque, cum ad sanctus intro ocurreret. Wisi eruditi democritum est an, porro linked noluisse tantas essent .</p>
                            <a class="readon" href="#">Latest News</a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="rs-carousel owl-carousel dot-style1" data-loop="true" data-items="2" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="2" data-lg-device="2" data-md-device-nav="false" data-md-device-dots="false">
                            <div class="blog-wrap">
                                <div class="img-part">
                                    <img src="~/Content/assets/images/blog/1.jpg" alt="">
                                    <div class="fly-btn">
                                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                                    </div>
                                </div>
                                <div class="content-part">
                                    <a class="categories" href="#">Strategy</a>
                                    <h3 class="title"><a href="#">Covid-19 threatens the next generation of smartphones</a></h3>
                                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled and demo realized by...</p>
                                    <div class="blog-meta">
                                        <div class="user-data">
                                            <img src="~/Content/assets/images/blog/avatar/1.png" alt="">
                                            <span>admin</span>
                                        </div>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-wrap">
                                <div class="img-part">
                                    <img src="~/Content/assets/images/blog/2.jpg" alt="">
                                    <div class="fly-btn">
                                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                                    </div>
                                </div>
                                <div class="content-part">
                                    <a class="categories" href="#">Management</a>
                                    <h3 class="title"><a href="#">Soundtrack filma Lady Exclusive Music</a></h3>
                                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled and demo realized by...</p>
                                    <div class="blog-meta">
                                        <div class="user-data">
                                            <img src="~/Content/assets/images/blog/avatar/1.png" alt="">
                                            <span>admin</span>
                                        </div>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-wrap">
                                <div class="img-part">
                                    <img src="~/Content/assets/images/blog/3.jpg" alt="">
                                    <div class="fly-btn">
                                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                                    </div>
                                </div>
                                <div class="content-part">
                                    <a class="categories" href="#">Consulting</a>
                                    <h3 class="title"><a href="#">Winged moved stars, fruit creature seed night.</a></h3>
                                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled and demo realized by...</p>
                                    <div class="blog-meta">
                                        <div class="user-data">
                                            <img src="~/Content/assets/images/blog/avatar/1.png" alt="">
                                            <span>admin</span>
                                        </div>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-wrap">
                                <div class="img-part">
                                    <img src="~/Content/assets/images/blog/4.jpg" alt="">
                                    <div class="fly-btn">
                                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                                    </div>
                                </div>
                                <div class="content-part">
                                    <a class="categories" href="#">Development</a>
                                    <h3 class="title"><a href="#">Given void great you’re good appear have i also fifth</a></h3>
                                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled and demo realized by...</p>
                                    <div class="blog-meta">
                                        <div class="user-data">
                                            <img src="~/Content/assets/images/blog/avatar/1.png" alt="">
                                            <span>admin</span>
                                        </div>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-wrap">
                                <div class="img-part">
                                    <img src="~/Content/assets/images/blog/5.jpg" alt="">
                                    <div class="fly-btn">
                                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                                    </div>
                                </div>
                                <div class="content-part">
                                    <a class="categories" href="#">Creative</a>
                                    <h3 class="title"><a href="#">Lights winged seasons fish abundantly evening.</a></h3>
                                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled and demo realized by...</p>
                                    <div class="blog-meta">
                                        <div class="user-data">
                                            <img src="~/Content/assets/images/blog/avatar/1.png" alt="">
                                            <span>admin</span>
                                        </div>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-wrap">
                                <div class="img-part">
                                    <img src="~/Content/assets/images/blog/6.jpg" alt="">
                                    <div class="fly-btn">
                                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                                    </div>
                                </div>
                                <div class="content-part">
                                    <a class="categories" href="#">Finance</a>
                                    <h3 class="title"><a href="#">Team You Want to Work With mistakes runners</a></h3>
                                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled and demo realized by...</p>
                                    <div class="blog-meta">
                                        <div class="user-data">
                                            <img src="~/Content/assets/images/blog/avatar/1.png" alt="">
                                            <span>admin</span>
                                        </div>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-wrap">
                                <div class="img-part">
                                    <img src="~/Content/assets/images/blog/3.jpg" alt="">
                                    <div class="fly-btn">
                                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                                    </div>
                                </div>
                                <div class="content-part">
                                    <a class="categories" href="#">Consulting</a>
                                    <h3 class="title"><a href="#">Winged moved stars, fruit creature seed night.</a></h3>
                                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled and demo realized by...</p>
                                    <div class="blog-meta">
                                        <div class="user-data">
                                            <img src="~/Content/assets/images/blog/avatar/1.png" alt="">
                                            <span>admin</span>
                                        </div>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Section End -->
        <!-- Contact Section Start -->
        <div id="rs-contact" class="rs-contact style1 gray-bg pt-100 pb-100 md-pt-80 md-pb-80">
            <div class="container">
                <div class="white-bg">
                    <div class="row">
                        <div class="col-lg-8 form-part">
                            <div class="sec-title mb-35">
                                <div class="sub-title primary">CONTACT US</div>
                                <h2 class="title mb-0">Get In Touch</h2>
                            </div>
                            <div id="form-messages"></div>
                            <form id="contact-form" class="contact-form" method="post" action="https://rstheme.com/products/html/reobiz/mailer.php">
                                <div class="row">
                                    <div class="col-md-6 mb-30">
                                        <div class="common-control">
                                            <input type="text" name="name" placeholder="Name" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="common-control">
                                            <input type="email" name="email" placeholder="Email" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="common-control">
                                            <input type="text" name="phone" placeholder="Phone Number" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="common-control">
                                            <input type="text" name="website" placeholder="Your Website" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="common-control">
                                            <textarea name="message" placeholder="Your Message Here" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="submit-btn">
                                            <button type="submit" class="readon">Submit Now</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4 pl-0 md-pl-pr-15">
                            <div class="contact-info">
                                <h3 class="title">Contact Info</h3>
                                <div class="info-wrap mb-20">
                                    <div class="icon-part">
                                        <i class="flaticon-location"></i>
                                    </div>
                                    <div class="content-part">
                                        <h4>Office Address</h4>
                                        127 Double Street, Dublin, United Kingdom.
                                    </div>
                                </div>
                                <div class="info-wrap mb-20">
                                    <div class="icon-part">
                                        <i class="flaticon-call"></i>
                                    </div>
                                    <div class="content-part">
                                        <h4>Telephone</h4>
                                        <p>P: <a href="tel:+1235558888">(+123) 555 8888</a></p>
                                        <p>P: <a href="tel:+1235558899">(+123) 555 8899</a></p>
                                    </div>
                                </div>
                                <div class="info-wrap mb-20">
                                    <div class="icon-part">
                                        <i class="flaticon-email"></i>
                                    </div>
                                    <div class="content-part">
                                        <h4>Mail Us</h4>
                                        <p>E: <a href="mailto:support@rstheme.com">support@rstheme.com</a></p>
                                        <p>E: <a href="mailto:info@codesless.com">info@codesless.com</a></p>
                                    </div>
                                </div>
                                <div class="info-wrap">
                                    <div class="icon-part">
                                        <i class="flaticon-clock"></i>
                                    </div>
                                    <div class="content-part">
                                        <h4>Opening Hours</h4>
                                        <p>Mon-Fri: 10:00-18:00</p>
                                        <p>Sat-Sun: 10:00-14:00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Section End -->
    </div>
    <!-- Main content End -->
    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer">
        <div class="container">
            <div class="footer-newsletter">
                <div class="row y-middle">
                    <div class="col-md-6 sm-mb-26">
                        <h3 class="title white-color mb-0">Newsletter Subscribe</h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <form class="newsletter-form">
                            <input type="email" name="email" placeholder="Your email address" required="">
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-62 pb-79 md-pb-64 sm-pt-48">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 footer-widget md-mb-39">
                        <div class="about-widget pr-15">
                            <div class="logo-part">
                                <a href="index.html"><img src="~/Content/assets/images/logo.png" alt="Footer Logo"></a>
                            </div>
                            <p class="desc">We denounce with righteous indignation in and dislike men who are so beguiled and to demo realized by the charms of pleasure moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound.</p>
                            <div class="btn-part">
                                <a class="readon" href="#">Discover More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 md-mb-32 footer-widget">
                        <h4 class="widget-title">Contact Info</h4>
                        <ul class="address-widget pr-40">
                            <li>
                                <i class="flaticon-location"></i>
                                <div class="desc">374 William S Canning Blvd, Fall River MA 2721, USA</div>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                <div class="desc">
                                    <a href="tel:+8801739753105">(+880)173-9753105</a>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-email"></i>
                                <div class="desc">
                                    <a href="mailto:support@rstheme.com">support@rstheme.com</a>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-clock"></i>
                                <div class="desc">
                                    10:00 - 17:00
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 footer-widget">
                        <h4 class="widget-title">Latest Posts</h4>
                        <div class="footer-post">
                            <div class="post-wrap mb-15">
                                <div class="post-img">
                                    <a href="#"><img src="~/Content/assets/images/blog/small/1.jpg" alt=""></a>
                                </div>
                                <div class="post-desc">
                                    <a href="#">Covid-19 threatens the next generation of smartphones</a>
                                    <div class="date-post">
                                        <i class="fa fa-calendar"></i>
                                        September 6, 2019
                                    </div>
                                </div>
                            </div>
                            <div class="post-wrap mb-15">
                                <div class="post-img">
                                    <a href="#"><img src="~/Content/assets/images/blog/small/2.jpg" alt=""></a>
                                </div>
                                <div class="post-desc">
                                    <a href="#">Soundtrack filma Lady Exclusive Music</a>
                                    <div class="date-post">
                                        <i class="fa fa-calendar"></i>
                                        April 15, 2019
                                    </div>
                                </div>
                            </div>
                            <div class="post-wrap">
                                <div class="post-img">
                                    <a href="#"><img src="~/Content/assets/images/blog/small/3.jpg" alt=""></a>
                                </div>
                                <div class="post-desc">
                                    <a href="#">Winged moved stars, fruit creature seed night.</a>
                                    <div class="date-post">
                                        <i class="fa fa-calendar"></i>
                                        October 9, 2019
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row y-middle">
                    <div class="col-lg-6 col-md-8 sm-mb-21">
                        <div class="copyright">
                            <p>© Copyright 2020 Reobiz. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 text-right sm-text-center">
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- start scrollUp  -->
    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>
    @RenderBody()
    <!-- End scrollUp  -->
    <!-- Search Modal Start -->
    <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." type="text" required="">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End -->
    <!-- modernizr js -->
    <script src="~/Content/assets/js/modernizr-2.8.3.min.js"></script>
    <!-- jquery latest version -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <!-- Bootstrap v4.4.1 js -->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- Menu js -->
    <script src="~/Content/assets/js/rsmenu-main.js"></script>
    <!-- op nav js -->
    <script src="~/Content/assets/js/jquery.nav.js"></script>
    <!-- owl.carousel js -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <!-- Slick js -->
    <script src="~/Content/assets/js/slick.min.js"></script>
    <!-- isotope.pkgd.min js -->
    <script src="~/Content/assets/js/isotope.pkgd.min.js"></script>
    <!-- imagesloaded.pkgd.min js -->
    <script src="~/Content/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- wow js -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <!-- aos js -->
    <script src="~/Content/assets/js/aos.js"></script>
    <!-- Skill bar js -->
    <script src="~/Content/assets/js/skill.bars.jquery.js"></script>
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <!-- counter top js -->
    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <!-- video js -->
    <script src="~/Content/assets/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- magnific popup js -->
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Nivo slider js -->
    <script src="~/Content/assets/inc/custom-slider/js/jquery.nivo.slider.js"></script>
    <!-- plugins js -->
    <script src="~/Content/assets/js/plugins.js"></script>
    <!-- contact form js -->
    <script src="~/Content/assets/js/contact.form.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/js/main.js"></script>
</body>

</html>

@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
